<form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="radio">
              <input type="radio" name="aggregateValues" value="yes">
              Show aggregate values for weeks and months
            </label>
            <label class="radio">
              <input type="radio" name="aggregateValues" value="no" checked>
              Values per week/month are averaged out
            </label>
        </div>
    </fieldset>
</form>