<div class="flx-widget-moves-stats">
    {{#activityDurations}}
    <section class="main-widget-data">
        <div class="big-data-figure">Walking: {{walking}}</div>
    </section>
    <section class="side-widget-data">
        <div class="flx-dashBMisc flx-floater">
            <div class="flx-floatL">
                Cycling: {{cycling}}
            </div>
            <div class="flx-floatL">
                Running: {{running}}
            </div>
            <div class="flx-floatL">
                Transport: {{transport}}
            </div>
        </div>
    </section>
    {{/activityDurations}}
</div>